body{
display: flex;
align-items: center;
justify-content: center;
box-shadow: yellow 4px;
height: 100vh;
}


button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: aqua;
    color: blue;
}

.keys{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    padding: 25px;
    /* padding-bottom: 40px; */
}

/* #display{
    padding: 10px;
    width: 60px;
    border: none;
    font-size: 5rem;
    text-align: right;
    background-color: blueviolet;
    color: #fff;
} */
  .calculator input {
      width: 90%;
      margin-bottom: 5px;
      background-color: black;
      color: #fff;
      border: 2px solid yellow;
      text-align: left;
      padding-top: 30px;
      border-radius: 10px;
      margin-top: 20px;
      margin-left: 20px;
      font-size: large;

      
  }

  .operator-btn{
    background-color: blueviolet;
  }

.calculator{
    background-color: rgb(20, 142, 199);
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    inset: 15px 30px 60px;

}